<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="bg-slate-100">
    <form action="/profile/<%= user.id %>/edit" method="post" enctype="multipart/form-data">
        <div class="flex flex-col justify-between mainContainer bg-slate-100">
            <%- include("../partials/navbar.ejs") %>
                <div class="flex">
                    <%- include("../partials/sidebar.ejs") %>
                        <div class="flex flex-col ml-72 flex-auto p-8 gap-10">
                            <div class="flex justify-between">
                                <div class="flex flex-col">
                                    <h1 class="text-3xl font-semibold text-left font-base text-brown">
                                        Ubah Data Diri</h1>
                                    <p class="text-sm font-medium font-base text-brown/60">Pastikan semua data diri anda
                                        sesuai dengan data KTP anda</p>
                                </div>
                                <div class="flex gap-4">
                                    <a class="group w-fit h-10 border border-slate-300 px-4 py-1 flex flex-row gap-2 cursor-pointer items-center hover:bg-brown"
                                        href="/profile/<%= user.id %>">
                                        <p class="text-sm font-medium font-base text-brown group-hover:text-white">
                                            Batal</p>
                                    </a>
                                    <button
                                        class="group w-fit h-10 border border-slate-300 px-4 py-1 flex flex-row gap-2 cursor-pointer items-center bg-brown hover:bg-maroon"
                                        type="submit">
                                        <svg class="stroke-white" xmlns="http://www.w3.org/2000/svg" width="18"
                                            height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-pencil">
                                            <path
                                                d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                            <path d="m15 5 4 4" />
                                        </svg>
                                        <p class="text-sm font-medium font-base text-white">
                                            Ubah Profil</p>
                                    </button>
                                </div>
                            </div>
                            <div class="flex flex-col gap-10">
                                <div class="border border-slate-300 p-6 flex flex-col gap-8">
                                    <h1 class="text-2xl font-semibold text-left font-base text-brown">Data Pribadi</h1>
                                    <div class="flex flex-col gap-6">
                                        <div class="nik flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <label
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5"
                                                    for="nik">
                                                    NIK</label>
                                                <p class="text-sm font-medium font-base text-brown/60">Nomor Identitas
                                                    Penduduk,
                                                    terdiri atas 16
                                                    digit angka</p>
                                            </div>
                                            <div class="flex flex-col flex-auto gap-1">
                                                <input
                                                    class="border <% if (error.nik) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 focus:outline-maroon/50 focus:outline-[3px]"
                                                    type="text" name="nik" id="nik" placeholder="" required autofocus
                                                    autocomplete="off" value="<%= oldData.nik || user.nik %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= error.nik %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="full_name flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <label
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5"
                                                    for="full_name">
                                                    Nama Lengkap</label>
                                            </div>
                                            <div class="flex flex-col flex-auto gap-1">
                                                <input
                                                    class="border <% if (error.full_name) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 focus:outline-maroon/50 focus:outline-[3px]"
                                                    type="text" name="full_name" id="full_name" placeholder="" required
                                                    autocomplete="off"
                                                    value="<%= oldData.full_name || user.full_name %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= error.full_name %>
                                                </p>

                                            </div>
                                        </div>
                                        <div class="birthplace flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <label
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5"
                                                    for="birthplace">
                                                    Tempat Lahir</label>
                                                <p class="text-sm font-medium font-base text-brown/60">Tempat lahir
                                                    sesuai
                                                    KTP
                                                </p>
                                            </div>
                                            <div class="flex flex-col flex-auto gap-1">
                                                <input
                                                    class="border <% if (error.birthplace) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 focus:outline-maroon/50 focus:outline-[3px]"
                                                    type="text" name="birthplace" id="birthplace" placeholder=""
                                                    required autocomplete="off"
                                                    value="<%= oldData.birthplace || user.birthplace %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= error.birthplace %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="birthdate flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <label
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5"
                                                    for="birthdate">
                                                    Tanggal Lahir</label>
                                                <p class="text-sm font-medium font-base text-brown/60">Tanggal lahir
                                                    sesuai KTP, minimal 21 tahun keatas
                                                </p>
                                            </div>
                                            <div class="flex flex-col flex-auto gap-1">
                                                <input
                                                    class="border <% if (error.birthdate) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 focus:outline-maroon/50 focus:outline-[3px]"
                                                    type="date" name="birthdate" id="birthdate" placeholder="" required
                                                    autocomplete="off"
                                                    value="<%= oldData.birthdate || user.birthdate %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= error.birthdate %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="address flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <label
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5"
                                                    for="address">
                                                    Alamat</label>
                                                <p class="text-sm font-medium font-base text-brown/60">Alamat sesuai KTP
                                                </p>
                                            </div>
                                            <div class="flex flex-col flex-auto gap-1">
                                                <input
                                                    class="border <% if (error.address) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 focus:outline-maroon/50 focus:outline-[3px]"
                                                    type="text" name="address" id="address" placeholder="" required
                                                    autocomplete="off" value="<%= oldData.address || user.address %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= error.address %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="district flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <h1
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5">
                                                    Kecamatan</h1>
                                                <p class="text-sm font-medium font-base text-brown/60">Kecamatan sesuai
                                                    KTP
                                                </p>
                                            </div>
                                            <select
                                                class="border <% if (error.district) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 flex-auto focus:outline-maroon/50 focus:outline-[3px]"
                                                name="district" id="district" onchange="filterKelurahan()" required>
                                                <option value="" disabled selected>-- Pilih Kecamatan --</option>
                                            </select>
                                        </div>
                                        <div class="subdistrict flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <h1
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5">
                                                    Kelurahan</h1>
                                                <p class="text-sm font-medium font-base text-brown/60">Kelurahan sesuai
                                                    KTP
                                                </p>
                                            </div>
                                            <select
                                                class="border <% if (error.subdistrict) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 flex-auto focus:outline-maroon/50 focus:outline-[3px]"
                                                name="subdistrict" id="subdistrict" required>
                                                <option value="" disabled selected>-- Pilih Kelurahan --</option>
                                            </select>
                                        </div>
                                        <div class="religion flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <h1
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5">
                                                    Agama</h1>
                                            </div>
                                            <select
                                                class="border <% if (error.religion) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 flex-auto focus:outline-maroon/50 focus:outline-[3px]"
                                                name="religion" id="religion" required>
                                                <option value="" disabled <%=!(oldData.religion || user.religion)
                                                    ? 'selected' : '' %>>-- Pilih Agama --</option>
                                                <option value="Islam" <%=(oldData.religion || user.religion)==='Islam'
                                                    ? 'selected' : '' %>>Islam</option>
                                                <option value="Protestan" <%=(oldData.religion ||
                                                    user.religion)==='Protestan' ? 'selected' : '' %>>Protestan</option>
                                                <option value="Katolik" <%=(oldData.religion ||
                                                    user.religion)==='Katolik' ? 'selected' : '' %>>Katolik</option>
                                                <option value="Hindu" <%=(oldData.religion || user.religion)==='Hindu'
                                                    ? 'selected' : '' %>>Hindu</option>
                                                <option value="Buddha" <%=(oldData.religion || user.religion)==='Buddha'
                                                    ? 'selected' : '' %>>Buddha</option>
                                                <option value="Khonghucu" <%=(oldData.religion ||
                                                    user.religion)==='Khonghucu' ? 'selected' : '' %>>Khonghucu</option>
                                            </select>
                                        </div>
                                        <div class="job flex justify-between items-start gap-40">
                                            <div class="flex flex-col w-60">
                                                <h1
                                                    class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5">
                                                    Pekerjaan</h1>
                                                <p class="text-sm font-medium font-base text-brown/60">Pekerjaan sesuai
                                                    KTP
                                                </p>
                                            </div>
                                            <select
                                                class="border <% if (error.job) { %> border-red-500 <% } else { %> border-slate-300 <% } %> text-sm font-base text-brown bg-transparent outline-none h-10 px-4 flex-auto focus:outline-maroon/50 focus:outline-[3px]"
                                                name="job" id="job" required>
                                                <option value="" disabled selected>-- Pilih Pekerjaan --</option>
                                                <option value="Belum/Tidak Bekerja" <%=(oldData.job ||
                                                    user.job)==='Belum/Tidak Bekerja' ? 'selected' : '' %>>Belum/Tidak
                                                    Bekerja</option>
                                                <option value="Mengurus Rumah Tangga" <%=(oldData.job ||
                                                    user.job)==='Mengurus Rumah Tangga' ? 'selected' : '' %>>Mengurus
                                                    Rumah Tangga</option>
                                                <option value="Pelajar/Mahasiswa" <%=(oldData.job ||
                                                    user.job)==='Pelajar/Mahasiswa' ? 'selected' : '' %>
                                                    >Pelajar/Mahasiswa</option>
                                                <option value="Pegawai Negeri Sipil" <%=(oldData.job ||
                                                    user.job)==='Pegawai Negeri Sipil' ? 'selected' : '' %>>Pewagai
                                                    Negeri Sipil</option>
                                                <option value="Petani/Pekebun" <%=(oldData.job ||
                                                    user.job)==='Petani/Pekebun' ? 'selected' : '' %>
                                                    >Petani/Pekebun</option>
                                                <option value="Peternak" <%=(oldData.job || user.job)==='Peternak'
                                                    ? 'selected' : '' %>>Peternak
                                                </option>
                                                <option value="Nelayan/Perikanan" <%=(oldData.job ||
                                                    user.job)==='Nelayan/Perikanan' ? 'selected' : '' %>
                                                    >Nelayan/Perikanan</option>
                                                <option value="Penata Rias" <%=(oldData.job || user.job)==='Penata Rias'
                                                    ? 'selected' : '' %>>Penata Rias
                                                </option>
                                                <option value="Mekanik" <%=(oldData.job || user.job)==='Mekanik'
                                                    ? 'selected' : '' %>>Mekanik
                                                </option>
                                                <option value="Seniman" <%=(oldData.job || user.job)==='Seniman'
                                                    ? 'selected' : '' %>>Seniman
                                                </option>
                                                <option value="Wartawan" <%=(oldData.job || user.job)==='Wartawan'
                                                    ? 'selected' : '' %>>Wartawan
                                                </option>
                                                <option value="Dosen" <%=(oldData.job || user.job)==='Dosen'
                                                    ? 'selected' : '' %>>Dosen
                                                </option>
                                                <option value="Pengacara" <%=(oldData.job || user.job)==='Pengacara'
                                                    ? 'selected' : '' %>>Pengacara
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="border border-slate-300 p-6 flex flex-col gap-8">
                                    <h1 class="text-2xl font-semibold text-left font-base text-brown">Bukti Data Pribadi
                                    </h1>
                                    <div class="nik flex justify-between items-start gap-40">
                                        <div class="flex flex-col w-60">
                                            <h1
                                                class="text-xl font-semibold text-left font-base text-brown after:content-['*'] after:text-maroon after:ml-0.5">
                                                Fotocopi KTP</h1>
                                            <p class="text-sm font-medium font-base text-brown/60">Fotokopi KTP depan
                                                dan
                                                belakang dengan data yang tertera di atas, format .pdf</p>
                                        </div>
                                        <div class="flex flex-col gap-1 flex-auto">
                                            <% if (user.ktp != null) { %>
                                            <p class="text-sm font-base font-medium text-brown leading-4 mb-2">
                                                File sebelumnya :
                                                <a class="text-sm font-base font-medium text-maroon ml-2 underline underline-offset-4 decoration-1 leading-4 hover:decoration-2 hover:text-brown"
                                                    href="<%= user.ktp %>" target="_blank" rel="noopener noreferrer">
                                                    Lihat PDF
                                                </a>
                                            </p>
                                            <% } %>
                                            <div
                                                class="border <% if (error.pdf) { %> border-red-500 <% } else { %> border-slate-300 <% } %> flex h-10 flex-auto items-center">
                                                <input
                                                    class="upload text-sm font-base text-brown h-10 w-full cursor-pointer file:border-0 file:bg-maroon file:h-10 file:text-white file:px-4 file:mr-4"
                                                    type="file" name="pdf">
                                                </input>
                                            </div>
                                            <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                <%= error.pdf %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </form>
    <script>
        const defaultDistrict = "<%= oldData.district || user.district %>";
        const defaultSubdistrict = "<%= oldData.subdistrict || user.subdistrict %>";    
    </script>
    <script src="/js/data_district_generate.js"></script>
</body>

</html>